.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
*.iml
.gradle
/build
/app/build
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/
.kotlin/
/Github/
/ml/
*.apk
*.aab
*.ap_
*.dex
